parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Mockery\\\\ExpectationInterface\\|Mockery\\\\HigherOrderMessage\\:\\:andReturnFalse\\(\\)\\.$#"
			count: 2
			path: tests/ReplayTest.php

		-
			message: "#^Call to an undefined method Mockery\\\\ExpectationInterface\\|Mockery\\\\HigherOrderMessage\\:\\:andReturnTrue\\(\\)\\.$#"
			count: 4
			path: tests/ReplayTest.php

		-
			message: "#^Call to an undefined method Mockery\\\\ExpectationInterface\\|Mockery\\\\HigherOrderMessage\\:\\:with\\(\\)\\.$#"
			count: 4
			path: tests/ReplayTest.php

